@import "tailwindcss";

@layer base {
  html {
    @apply h-full lg:text-lg text-sm font-[DM_Mono] dark:bg-black dark:text-white;
  }

  body {
    @apply h-full overflow-x-hidden;
  }

  #root {
    @apply h-full flex flex-col;
  }

  * {
    @apply m-0 p-0 box-border max-w-full;
  }

  h1 {
    @apply text-6xl font-bold leading-tight;
  }

  h2 {
    @apply text-4xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-medium leading-normal;
  }

  p {
    @apply text-lg leading-relaxed;
  }

  a {
    @apply text-acc hover:underline hover:cursor-pointer select-none;
  }
}

/* custom colors */
@theme {
  --color-acc: hsl(110, 100%, 50%);
  --color-acc-dim: hsl(110, 100%, 30%);
  --color-white-dim: hsl(0, 0%, 70%);
  --color-err: hsl(0, 100%, 50%);
  --color-err-dim: hsl(0, 100%, 30%);
}
