@import "tailwindcss";

@layer base {
  * {
    @apply m-0 z-5 p-0 box-border max-w-full;
  }

  h1 {
    @apply text-6xl font-bold leading-tight;
  }

  h2 {
    @apply text-4xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-medium leading-normal;
  }

  p {
    @apply text-lg leading-relaxed;
  }

  a {
    @apply text-acc hover:underline hover:cursor-pointer select-none;
  }
}

/* custom colors */
@theme {
  --color-acc: hsl(110, 100%, 40%);
  --color-acc-dim: hsl(110, 100%, 20%);
  --color-acc-superdim: hsl(110, 100%, 7%);
  --color-acc-bg: hsl(110, 100%, 3%, 0.7);

  --color-white-dim: hsl(0, 0%, 70%);
  --color-white-bg: hsla(0, 0%, 95%, 0.03);

  --color-err: hsl(0, 100%, 50%);
  --color-err-dim: hsl(0, 100%, 30%);
  --color-err-bg: hsla(0, 100%, 10%, 0.3);
}
